@page "/business/store/{id:int}"
@attribute [Authorize(Roles = "business")]
@inject NavigationManager NavigationManager
@inject IProductService ProductService
@inject ISizeService SizeService
@inject IColorService ColorService

<div class="container">
    @if (isProcessing)
    {
        <div class="my-lg-5 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary"
             style="width: 3rem; height: 3rem;"
             role="status">
            </div>
        </div>
    }
    else
    {
        @if (errorMessage.Length > 0)
        {
            <div class="py-2">
                <div class="alert alert-dismissible alert-danger">
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                    <strong>@errorMessage</strong>
                </div>
            </div>
        }
        else
        {
            <h3 class="py-2">Editar tienda de @product.Name</h3>

            <EditForm Model="product" OnValidSubmit="UpsertStoreByProduct">
                <div class="row">
                    <div class="col">Talla</div>
                    <div class="col">Color</div>
                    <div class="col">Cantidad</div>
                    <div class="col">Precio</div>
                    <div class="col">Visible</div>
                    <div class="col"></div>
                </div>
                @foreach (var storeItem in product.Stores)
                {
                    <div class="row">
                        <div class="col">
                            <InputSelect @bind-Value="storeItem.SizeId" class="form-control">
                                <option value="0" selected disabled>Selecciona una talla</option>
                                @foreach (var size in SizeService.BusinessSizes)
                                {
                                    <option value="@size.Id.ToString()">@size.Ec</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col">
                            <InputSelect @bind-Value="storeItem.ColorId" class="form-control">
                                <option value="0" selected disabled>Selecciona una talla</option>
                                @foreach (var color in ColorService.MyColors)
                                {
                                    <option value="@color.Id.ToString()">@color.Name</option>
                                }
                            </InputSelect>
                        </div>
                        <div class="col">
                            <InputNumber id="quantity"
                             class="form-control"
                             ParsingErrorMessage="Si no existe la cantidad escriba 0"
                             @bind-Value="storeItem.Quantity" />
                            <ValidationMessage For="@(()=>storeItem.Quantity)" />
                        </div>
                        <div class="col">
                            <InputNumber id="price"
                             class="form-control"
                             ParsingErrorMessage="Si no existe el precio escriba 0"
                             @bind-Value="storeItem.Price" />
                            <ValidationMessage For="@(()=>storeItem.Price)" />
                        </div>
                        <div class="col">
                            <InputCheckbox id="visible"
                               @bind-Value="storeItem.Visible"
                               style="transform:scale(1.5,1.5);" />
                        </div>
                        <div class="col"></div>
                    </div>
                }
                <button type="button" class="btn btn-primary" @onclick="AddStoreInfo">
                    <i class="bi bi-plus"></i> Añadir elemento a la tienda
                </button>
                <button type="submit" class="btn btn-primary">Guarda mi tienda</button>
            </EditForm>
        }
    }
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    Product product = new Product();

    bool isProcessing { get; set; } = false;
    string errorMessage { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await ColorService.GetMyColors();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id == 0)
        {
            errorMessage = $"Producto con Id ${Id} no existe";
            return;
        }
        else
        {
            Product _product = (await ProductService.GetProductById(Id)).Data;

            if (_product == null)
            {
                errorMessage = $"Producto con Id ${Id} no existe";
                return;
            }
            else
            {
                product = _product;

                await SizeService.GetSizesByCategoryId(product.CategoryId);
            }
        }
        isProcessing = false;
    }

    protected void AddStoreInfo()
    {
        product.Stores.Add(new Store { IsNew = true, ProductId = product.Id });
    }

    protected void RemoveStoreInfo(int colorId, int sizeId)
    {
        var store = product.Stores.Find(s => s.ColorId == colorId && s.SizeId == sizeId);

        if (store == null)
        {
            return;
        }

        if (store.IsNew)
        {
            product.Stores.Remove(store);
        }
        else
        {
            store.Visible = false;
        }
    }

    protected async void UpsertStoreByProduct()
    {
        var url = await ProductService.UpsertMyStoreByProduct(product);

        NavigationManager.NavigateTo($"/business/stores/{1}");

    }
}
